:root {
  --obsidian-blur-bone-border-radius:1.33em;
  --obsidian-blur-bone-line-height:1;
  --obsidian-blur-brick-border-radius:1px;
  --obsidian-blur-brick-line-height:1;
  --obsidian-blur-filter:5px;
}
body.theme-dark {
  --obsidian-blur-brick-color:hsla(220,100%,100%,1);
  --obsidian-blur-bone-color:hsla(220,100%,100%,1);
}
body.theme-light {
  --obsidian-blur-brick-color:hsla(220,19%,6%,1);
  --obsidian-blur-bone-color: hsla(220,19%,6%,1);
}
div.blur-block {
	filter: blur(var(--obsidian-blur-filter)) !important;
	-webkit-filter: blur(var(--obsidian-blur-filter)) !important;
}
.obsidian-blur-hover div.blur-block:hover {
	filter: blur(0px) !important;
	-webkit-filter: blur(0px) !important;
}
code.blur-inline {
  filter: blur(var(--obsidian-blur-filter)) !important;
	-webkit-filter: blur(var(--obsidian-blur-filter)) !important;
  display:inline-block !important;
}
.obsidian-blur-hover code.blur-inline:hover {
  filter: blur(0) !important;
  -webkit-filter: blur(0px) !important;
}
code.blur-bone {
  background-color: var(--obsidian-blur-bone-color) !important;
  color: var(--obsidian-blur-bone-color) !important;
  border-radius: var(--obsidian-blur-bone-border-radius) !important;
  line-height: var(--obsidian-blur-bone-line-height) !important;
  display:inline-block !important;
}
.obsidian-blur-hover code.blur-bone:hover {
  background-color: transparent !important;
}
code.blur-brick {
  background-color: var(--obsidian-blur-brick-color) !important;
  color: var(--obsidian-blur-brick-color) !important;
  border-radius: var(--obsidian-blur-brick-border-radius) !important;
  line-height: var(--obsidian-blur-brick-line-height) !important;
  display:inline-block !important;
}
.obsidian-blur-hover code.blur-brick:hover {
  background-color: transparent !important;
}
.blur-bone-innerblock code.blur-bone {
  margin: .25em;
}
.blur-brick-innerblock code.blur-brick {
  margin: .25em;
}